/* overlay bag dialogen når den er åben */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

dialog {
  margin: 3rem auto;
  width: 500px;
  max-width: 90%;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  
  border: 2px solid var(--bgColorPrimary);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  
  
  @media (min-width: 450px) {
    margin: 4rem auto;
    padding: 1rem 1.8rem 1.5rem 1.8rem;
    max-width: 85%;
  }
  
  @media (min-width: 730px) {
    margin: 7rem auto;
    max-width: 55%;
    padding: 1rem 2rem 2rem 2rem;
  }


  /* header sektion med titel og luk knap */
  >header {
    /* Layout */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;

    color: var(--colorTextPrimary);
    background-color: var(--bgColorPrimary);

    @media (min-width: 480px) {
      padding: 1rem 0;
    }

    h1 {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 600;
    }

    /* (×) */
    button {
      /* reset af den default button styling */
      background: none;
      border: none;
      padding: 0;
      min-width: var(--minTouchWidth);
      min-height: var(--minTouchHeight);

      font-size: 2rem;
      color: var(--colorTextPrimary);
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  /* dialog tekst indhold */
  p {
    padding: 1rem 0;
    margin: 0;
    line-height: 1.6;
    
    @media (min-width: 480px) {
      padding: 1.5rem 0;
    }
    
  }
}
