/* STYLING FOR SIGNUP & LOGIN & Checkout */

main {
    display: flex;
    justify-content: center;
}

/* container for the authentication form and tabs */
.auth-container {
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
        max-width: 30rem;
    }

    @media (min-width: 1024px) {
        max-width: 35rem;
    }
}

/* tab navigation for switching between sign up and login */
.auth-tabs {
    display: flex;
    border-bottom: 0.125rem solid var(--bgColorSecondary);

    .tab {
        flex: 1;
        padding: 0.75rem;
        text-align: center;
        text-decoration: none;

        color: var(--colorTextPrimary);
        font-weight: 600;
        background-color: var(--bgColorSecondary);

        transition: background-color 0.3s;

        @media (min-width: 768px) {
            padding: 1rem;
        }

        &:hover {
            background-color: var(--bgColorPrimary);
        }

        /* active tab - highlight the current page */
        &.active {
            background-color: var(--bgColorPrimary);
            color: var(--colorTextPrimary);
            border-bottom: 0.1875rem solid var(--buttonPrimaryColor);
        }
    }
}

/* form section containing heading, description, and form */
.auth-form {
    padding: 1.5rem;
    background-color: var(--bgColorPrimary);

    @media (min-width: 768px) {
        padding: 2rem;
    }

    @media (min-width: 1024px) {
        padding: 2.5rem;
    }

    h2 {
        font-family: var(--fontHeader);
        text-align: center;
        margin-bottom: 0.75rem;
        /* font-size: 1.5rem; */

        @media (min-width: 768px) {
            /* font-size: 2rem; */
            margin-bottom: 1rem;
        }
    }

    p {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1rem;

        line-height: 1.5;

        @media (min-width: 768px) {
            font-size: 0.9rem;
            margin-bottom: 2rem;
        }
    }
}

/* FORM STYLING > works for both signup and login form */
#frmSignup,
#frmLogin,
#frmCheckout {
    .form-group {
        margin-bottom: 1.25rem;

        @media (min-width: 768px) {
            margin-bottom: 1.5rem;
        }

        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: 500;


            @media (min-width: 768px) {
                _font-size: 1rem;
            }
        }

        input {
            width: 100%;
            padding: 0.75rem;
            border: 0.0625rem solid #ddd;
            font-size: 1rem;

            &:focus {
                border-color: var(--buttonPrimaryColor);
            }
        }

        p {
            text-align: left;
            font-style: italic;
        }
    }

    #signupBtn,
    #loginBtn,
    #checkoutBtn {
        justify-self: center;
        width: 100%;
    }
}

/* remove default styling */
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}