@import "styles.css";


main {
    min-height: 75vh;
    display: grid;
}

.notLoggedIn, .cartEmpty {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    header {
        display: grid;
        gap: 1.5rem;
    }
    p {
        >a {
            color: var(--colorTextPrimary);
        }

    }
}

.cartFilled {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    

    header {
        display: grid;
        gap: 1.5rem;
    }

    p {
        >a {
            color: var(--colorTextPrimary);
        }

    }


    .product {
        display: grid;
        gap: 1rem;
        border-bottom: 1px solid var(--colorTextPrimary);
        padding: 1rem;
        margin-bottom: 1rem;
        
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
        }

        .product_image{
            max-width: 250px; /* TODO: add maxwith variable */
        }

        .product_name {
            
        }

        .product_price {
            
        }

        .product_quantity {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .quantity-change {
                padding: 0.25rem;
            }

            .product_qty {
                
            }
        }

        .product_remove_btn, .quantity-change {
            justify-self: start;
        }
    }

    .subtotal {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}
