@import "styles.css";

.order_summary {
    display: grid;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .order_summary_price {
        max-width: 370px;
        max-height: 450px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        background-color: var(--bgColorSecondary);
        border: 1px solid var(--colorTextPrimary);

        @media screen and (min-width: 768px) {
            padding: 20px;
            gap: 2.5rem;
        }

        .subtotal_delivery {
            display: grid;

            @media screen and (min-width: 768px) {
                gap: 1.25rem;
            }
        }
        
        .price {
            display: flex;
            justify-content: space-between;

            
        }
    }
    .payment_methods {
        display: flex;
        flex-wrap: wrap;
        gap: 9px;
        margin-top: 10px;
        img {
            max-width: 58px;
        }
    }
}
.cart_items {
    display: grid;
    @media screen and (min-width: 768px) {
        gap: 64px;
    }
    .product {
        display: grid;
        gap: 1rem;
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }
        .product_image {
            max-width: 100px;

            @media screen and (min-width: 768px) {
                max-width: 200px;
            }
        }
    
        .product_info {
            display: grid;
            gap: 20px;
    
            .product_actions {
                display: flex;
                gap: 1rem;
                
                @media screen and (min-width: 768px) {
                }
            }
        }
    }
}