@import "styles.css";
@import "_form.css";
@import "_dialog.css";

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.auth-container {
  justify-self: center;
}

.btn {
  gap: 0.5rem;
}
