@import "styles.css";

img {
  width: 100%;
}

main {
  display: grid;
  #productList {
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;
    justify-self: center;

    @media (min-width: 732px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width > 1172px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-self: auto;

      /* Select every 2nd item in each group of 3
      (i.e. the middle column in each row)
      3n + 2 → 2, 5, 8, 11, ... */
      > article:nth-child(3n + 2) {
        justify-self: center;
      }

      /* Select every 3rd item in each group of 3
     (i.e. the last column in each row)
     3n + 3 → 3, 6, 9, 12, ... */
      > article:nth-child(3n + 3) {
        justify-self: end;
      }
    }

    /* Template */
    article {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: var(--productCardMaxWidth);

      img {
        height: var(--productListImageMaxHeight);
        width: 100%;
      }

      div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0;

        a {
          margin-top: auto;
          text-decoration: none;
        }
      }
    }
  }
}
