@import "styles.css";

main {
  _display: grid;
}

#productList {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  justify-self: center;
  
  @media (min-width: 732px) {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1172px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: auto;

    /* Select every 2nd item in each group of 3
    (i.e. the middle column in each row)
    3n + 2 → 2, 5, 8, 11, ... */
    > article:nth-child(3n + 2) {
      justify-self: center;
    }

    /* Select every 3rd item in each group of 3
    (i.e. the last column in each row)
    3n + 3 → 3, 6, 9, 12, ... */
    > article:nth-child(3n + 3) {
      justify-self: end;
    }
  }

  /* ---- Product Template ---- */
  article {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: var(--productCardMaxWidth);
    border-bottom: 1px solid var(--colorBorder);
    
    @media (min-width: 732px) {
      border-bottom: none;
    }

    img {
      height: var(--productListImageMaxHeight);
    }

    .wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem 0;
      margin-bottom: 1.5rem;

      .product_button {
        a {
          margin-top: auto;
          text-decoration: none;
        }
      }
    }
  }
}

