@import "styles.css";

main {
  _display: grid;
}
h2 {
  padding-bottom: 1rem;
}

#productList {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  justify-self: center;
  
  @media (min-width: 732px) {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: 1024px) {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    justify-self: auto;

    /* Select every 2nd item in each group of 3
    (i.e. the middle column in each row)
    3n + 2 → 2, 5, 8, 11, ... */
    > article:nth-child(3n + 2) {
      _justify-self: center;
    }

    /* Select every 3rd item in each group of 3
    (i.e. the last column in each row)
    3n + 3 → 3, 6, 9, 12, ... */
    > article:nth-child(3n + 3) {
      _justify-self: end;
    }
  }

  /* ---- Product Template ---- */
  article {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: var(--productCardMaxWidth_small);
    border-bottom: 1px solid var(--colorBorder);
    padding-bottom: 2rem;
    
    @media (min-width: 732px) {
      border-bottom: none;
      padding-bottom: 0;
    }
    @media (min-width: 1172px) {
      max-width: var(--productCardMaxWidth_big);
    }
    
    .image_wrapper {
      height: var(--productListImageMaxHeight);
      background-color: #f6f6f6;
      display: flex;
      _border: 1px solid var(--colorBorder);
      img {
        height: 100%;
        margin: auto;
        max-width: fit-content;
        max-height: fit-content;
        padding: 0.5rem;
      }
      
    }

    div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem 0;

      a {
        margin-top: auto;
        text-decoration: none;
      }
    }
  }
}

