@import "styles.css";

main {
  _display: grid;
}
h2 {
  padding-bottom: 1rem;
}

#productList {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  justify-self: center;
  
  @media (min-width: 732px) {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: auto;
  }

  /* ---- Product Template ---- */
  article {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: var(--productCardMaxWidth_small);
    border-bottom: 1px solid var(--colorBorder);
    padding-bottom: 2rem;
    
    @media (min-width: 732px) {
      border-bottom: none;
      padding-bottom: 0;
    }
    @media (min-width: 1172px) {
      max-width: var(--productCardMaxWidth_big);
    }
    
    .image_wrapper {
      height: var(--productListImageMaxHeight);
      background-color: var(--bgCard);
      display: flex;
      
      img {
        height: 100%;
        margin: auto;
        max-width: fit-content;
        max-height: fit-content;
        padding: 0.5rem;
      }
      
    }

    div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem 0;

      a {
        margin-top: auto;
        text-decoration: none;
      }
    }
  }
}

