@import "styles.css";
@import "_dialog.css";

main {
  #btnBack {
    width: auto;
  }

  section#singleProduct {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    @media (min-width: 545px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    div {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;
    }

    header {
      grid-area: 1 / 2 / 2 / 3;
    }

    img {
      /* min-height: 100%; */
      max-width: var(--singleProductImageMaxWidth);
      justify-self: center;
      order: -1;
      grid-area: 1 / 1 / 5 / 2;
    }

    div-first-of-type {
      grid-area: 2 / 2 / 3 / 3;
    }

    #descriptionContainer {
      padding: 1rem 0;
      border-top: 1px solid var(--colorTextPrimary);
      border-bottom: 1px solid var(--colorTextPrimary);

      @media (min-width: 545px) {
        grid-area: 5 / 1 / 6 / 3;
      }
      @media (min-width: 825px) {
        grid-area: 3 / 2 / 4 / 3;
      }

      > p {
        max-width: 65ch;
      }
    }

    #rating {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.5rem;
    }
  }
}
