@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* 
    Usual break points
    - Mobile: 320px, 480px 
    - Tablet: 768px 
    - Desktop 1024px 
    - TV: 1200px 
*/

body {
    font-family: var(--fontMain);
    background-color: var(--bgColorPrimary);
    color: var(--colorTextPrimary);

/* NAVIGATION */
    header {
        padding: 15px 20px;
        width: 100%;
        border-bottom: 1px solid var(--colorTextPrimary);

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 768px) { 
            padding: 16px 64px;
        }

        >.burger {
            width: 30px;
            height: 20px;
            cursor: pointer;

            .line {
                width: 100%;
                height: 2px;
                background-color: #333;
                margin-bottom: 5px;
                transition: 0.2s linear;
            }

            @media screen and (min-width: 768px) {
                display: none;
            }
        }
        
        > h1 {
            font-family: var(--fontHeader);
            text-wrap-mode: nowrap;
            span {
                color: var(--buttonPrimaryColor);
            }
            @media screen and (min-width: 768px) {
                padding-right: 40px;
            }
        }
        
        a {
            text-decoration: none;
            color: var(--colorTextPrimary);
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @media screen and (min-width: 768px) {
                width: 100%;
            }

            >ul {
                display: flex;
                list-style-type: none;
                
                
                &.main_menu {
                    display: none;
                    
                    @media screen and (min-width: 768px) {
                        display: flex;
                        gap: 40px;
                    }
                    
                }
                

                &.nav-icons {
                    gap: 16px;
                }

                >li {
                    > a:hover, a:active {
                        text-decoration: underline;
                        color: var(--buttonPrimaryColor);
                    }
                }
            }
        }
    }
}