@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* 
    Usual break points
    - Mobile: 320px, 480px 
    - Tablet: 768px 
    - Desktop 1024px 
    - TV: 1200px 
*/

body {
  max-width: var(--maxWidth);
  margin: auto;
  background-color: var(--bgColorPrimary);
  color: var(--colorTextPrimary);
  font-family: var(--fontMain);

  main {
    padding: 20px;
    margin: auto;

    > header {
      margin-bottom: 1.5rem;

      @media screen and (min-width: 768px) {
        margin-bottom: 3rem;
      }
    }
  }

  h1,
  h2 {
    font-family: var(--fontHeader);
  }

  h1 {
    text-wrap-mode: nowrap;
    font-size: var(--fontSize-h1);
    span {
      color: var(--buttonPrimaryColor);
    }
  }

  h2 {
    font-size: var(--fontSize-h2);
  }
  h3 {
    font-size: var(--fontSize-h3);
  }

  p {
    font-size: var(--fontSize-body);
  }
  /* NAVIGATION */
  > header {
    padding: 12px 20px;
    border-bottom: 1px solid var(--colorTextPrimary);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
      margin-bottom: 3rem;
    }

    a {
      text-decoration: none;
      color: var(--colorTextPrimary);
    }

    nav {
      > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        list-style-type: none;
      }
    }
  }

  > footer {
    padding: 48px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-top: 1px solid var(--colorTextPrimary);

    @media screen and (min-width: 768px) {
      padding: 80px 42px;
    }

    h2 {
      font-family: var(--fontHeader);
      span {
        color: var(--buttonPrimaryColor);
      }

      > a {
        text-decoration: none;
        color: var(--colorTextPrimary);
      }
    }

    > hr {
      width: 100%;
    }
  }
}

/*  PRIMARY BUTTON STYLING > skal ind på styles 
    */
.primary_btn {
  background-color: var(--buttonPrimaryColor);
  color: var(--colorTextSecondary);
  border: 2px solid var(--buttonPrimaryColor);
  transition: background-color 0.3s;
  
  padding: 0.9rem;
  font-size: 1rem;
  
  cursor: pointer;
  
  >a {
    color: var(--colorTextSecondary);
    text-decoration: none;
  }

  &:hover {
    _background-color: #7b1fa2;
    background-color: var(--bgColorPrimary);
    color:var(--colorTextPrimary);
    >a {
      color: var(--colorTextPrimary);
      text-decoration: none;
    }
  }

  &:active {
    background-color: #6a1b8a;
  }
}

/* For the navigation */
.hidden {
  display: none;
}
