@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* 
    Usual break points
    - Mobile: 320px, 480px 
    - Tablet: 768px 
    - Desktop 1024px 
    - TV: 1200px 
*/

body {
  max-width: var(--maxWidth);
  margin: auto;
  background-color: var(--bgColorPrimary);
  color: var(--colorTextPrimary);
  font-family: var(--fontMain);

  main {
    padding: 20px;
    margin: auto;

    > header {
      margin-bottom: 1.5rem;

      @media screen and (min-width: 768px) {
        margin-bottom: 3rem;
      }
    }
  }

  h1,
  h2 {
    font-family: var(--fontHeader);
  }

  h1 {
    text-wrap-mode: nowrap;
    font-size: var(--fontSize-h1);
    span {
      color: var(--buttonPrimaryColor);
    }
  }

  h2 {
    font-size: var(--fontSize-h2);
  }
  h3,
  h4 {
    font-size: var(--fontSize-h3);
  }

  p {
    font-size: var(--fontSize-body);
  }
  /* NAVIGATION */
  > header {
    padding: 12px 20px;
    border-bottom: 1px solid var(--colorTextPrimary);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
      margin-bottom: 3rem;
    }

    a {
      text-decoration: none;
      color: var(--colorTextPrimary);
    }

    nav {
      > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        list-style-type: none;
      }
    }
  }

  > footer {
    padding: 48px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-top: 1px solid var(--colorTextPrimary);

    @media screen and (min-width: 768px) {
      padding: 80px 42px;
    }

    h2 {
      font-family: var(--fontHeader);
      span {
        color: var(--buttonPrimaryColor);
      }

      > a {
        text-decoration: none;
        color: var(--colorTextPrimary);
      }
    }

    > hr {
      width: 100%;
    }
  }
}

/* BUTTONS */
/* Main styling for buttons */
.btn {
  border-radius: 0.2rem;
  transition: background-color 0.3s;
  border: 2px solid var(--buttonPrimaryColor);

  padding: 0.9rem;
  font-size: 1rem;
  text-align: center;

  cursor: pointer;
}

/* styling for primary btn - colors */
.primary_btn {
  background-color: var(--buttonPrimaryColor);
  color: var(--colorTextSecondary);
  border: 2px solid var(--buttonPrimaryColor);

  > a {
    color: var(--colorTextSecondary);
    text-decoration: none;
  }

  &:hover {
    _background-color: #7b1fa2;
    background-color: var(--bgColorPrimary);
    color: var(--colorTextPrimary);
    > a {
      color: var(--colorTextPrimary);
      text-decoration: none;
    }
  }

  &:active {
    background-color: #6a1b8a;
  }
}

.secondary_btn {
  background-color: transparent;
  color: var(--colorTextPrimary);

  border: 2px solid var(--buttonPrimaryColor);

  > a {
    color: var(--colorTextSecondary);
    text-decoration: none;
  }

  &:hover {
    background-color: var(--buttonPrimaryColor);
    color: var(--colorTextSecondary);

    > a {
      color: var(--colorTextPrimary);
      text-decoration: none;
    }
  }

  &:active {
    background-color: #6a1b8a;
  }
}

.backBtn {
  > a {
    color: var(--colorTextPrimary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* For the navigation */
.hidden {
  display: none;
}

/* For cart in navigation */
#cart {
  a {
    position: relative;
    display: inline-block;

    .cart-counter {
      position: absolute;
      top: 14px;
      right: -8px;
      padding: 0 4px;

      box-sizing: border-box;

      background-color: var(--buttonPrimaryColor);
      color: var(--colorTextSecondary);
      border-radius: 50%;
      min-width: 20px;
      height: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 11px;
      font-weight: bold;
      line-height: 1;
    }
  }
}
