@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&family=Roboto:wght@400;600&display=swap");

:root {
  /* Our white background color */
  --bgColorPrimary: #fefefe;

  /* Our light grey used to separate sections */
  --bgColorSecondary: #f5f5f5;

  /* Our purple brand color */
  /* --buttonPrimaryColor: #710096; */
  --buttonPrimaryColor: #282828;

  /* Our black body text color + headings + navigation */
  --colorTextPrimary: #282828;

  --colorBorder: lightgrey;
  /* Our white text color for buttons + text overlays */
  --colorTextSecondary: #fefefe;

  /* Our font for headings and logo */
  --fontHeader: "Roboto Serif", serif;

  /* Font for text */
  --fontMain: "Roboto", sans-serif;

  --productCardMaxWidth: 300px;
  --productListImageMaxHeight: 350px;
  --singleProductImageMaxWidth: 300px;

  --maxWidth: 1280px;

  /* --maxWidthL: 1024; */
  --imgMaxWidth: ;

  --minTouchHeight: 48px;
  --minTouchWidth: 48px;

  /* font sizes med clamp() */
  --fontSize-h1: clamp(1rem, 3vw + 0.5rem, 1.9rem); /* TODO: Mindste size skal være 1.6rem */
  --fontSize-h2: clamp(1.5rem, 3.5vw + 0.5rem, 2.5rem);
  --fontSize-h3: clamp(1rem, 0.5vw + 0.75rem, 1rem);

  --fontSize-body: clamp(1rem, 0.5vw + 0.75rem, 1rem);
  --fontSize-small: clamp(0.75rem, 0.5vw + 0.625rem, 0.875rem);
  --fontSize-tiny: clamp(0.625rem, 0.25vw + 0.6rem, 0.75rem);
}
