@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&family=Roboto:wght@400;600&display=swap");

:root {
  /* Our white background color */
  --bgColorPrimary: #fefefe;

  /* Our light grey used to separate sections */
  --bgColorSecondary: #f5f5f5;

  /* Our purple brand color */
  --buttonPrimaryColor: #710096;

  /* Our black body text color + headings + navigation */
  --colorTextPrimary: #282828;

  /* Our white text color for buttons + text overlays */
  --colorTextSecondary: #fefefe;

  /* Our font for headings and logo */
  --fontHeader: "Roboto Serif", serif;

  /* Font for text */
  --fontMain: "Roboto", sans-serif;

  --maxWidth: 1280px;

  /* --maxWidthL: 1024; */

  --imgMaxWidth: ;
}
