@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&family=Roboto:wght@400;600&display=swap");

:root {
  /* --- Colors --- */
  --bgColorPrimary: #fefefe; 
  --bgColorSecondary: #f5f5f5;
  --bgCard: #f6f6f6;
  --buttonPrimaryColor: #282828;

  --colorTextPrimary: #282828;
  --colorTextSecondary: #fefefe;

  --colorBorder: #d3d3d3;

  --colorFocus: #0011ff;
  
  
  /* --- FONTS --- */
  --fontHeader: "Roboto Serif", serif;
  --fontMain: "Roboto", sans-serif;
  
  --fontSize-h1: clamp(1.75rem, 1.6477rem + 0.4545vw, 2rem);
  --fontSize-h2: clamp(1.875rem, 1.7727rem + 0.4545vw, 2.125rem);
  --fontSize-h3_h4: 1rem;
  
  --fontSize-body: 1rem;
  --fontSize-body-big: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  
  
  
  /* --- MAX WIDTH/HEIGHT --- */
  --maxWidth: 1280px;

  --cartProductMaxWidth: 250px;
  
  --productCardMaxWidth_small: 300px;
  --productCardMaxWidth_big: 400px;
  
  --productListImageMaxHeight: 350px;
  --singleProductImageMaxWidth: 300px;
  
  --cartCounterSize: 20px;

  --dialogWidth: 500px;
  
  --minTouchWidth: 48px;
  --minTouchHeight: 48px;
}
